type powerservice, domain;
type powerservice_exec, exec_type, file_type;

init_daemon_domain(powerservice)

allow powerservice power_service:service_manager add;
