# setup_fs
# Set up an ext4 filesystem on one or more block devices.
type setup_fs, domain;
type setup_fs_exec, exec_type, file_type;
permissive_or_unconfined(setup_fs)

init_daemon_domain(setup_fs)

allow setup_fs block_device:dir search;
allow setup_fs userdata_block_device:blk_file rw_file_perms;
allow setup_fs cache_block_device:blk_file rw_file_perms;
