allow surfaceflinger { knv_device }:chr_file rw_file_perms;
allow surfaceflinger { sysfs_devices_system_cpu sysfs_devices_tegradc }:file rw_file_perms;
allow surfaceflinger sysfs_devices_tegradc:dir r_dir_perms;
allow surfaceflinger sysfs_devices_tegradc:lnk_file { open getattr read };
allow surfaceflinger sysfs_devices_system_cpu:dir w_dir_perms;

allow surfaceflinger default_prop:property_service set;

allow surfaceflinger sysfs_slowscan:file { open write };

# Allow surfaceflinger to configure smartdimmer and other PMQoS nodes
allow surfaceflinger sysfs_smartdimmer:file rw_file_perms;

# should be more specific to only target /data/data/com.nvidia.cap
allow surfaceflinger system_data_file:sock_file create_file_perms;
allow surfaceflinger system_data_file:dir rw_dir_perms;
